/.RubyDescriptionLabelProvider.java._trace
/.RubyDescriptionLabelProvider.xtendbin
/.RubyLabelProvider.java._trace
/.RubyLabelProvider.xtendbin
/RubyDescriptionLabelProvider.java
/RubyLabelProvider.java
